* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFAEF !important;
  min-height: 100vh;
}

.question-footer{
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card-body{
  width: 40em;
}

.quiz-answer-card:hover{
  cursor: pointer;
  background-color: rgba(255, 200, 0, 0.228);
} 

.bg-success{
  color: white;
}